<td>
    <label>
        <input type="checkbox"
               name="<!--{$definition_data.code|default:''}-->"
               data-id="<!--{$data_id}-->"
               data-type="<!--{$definition_data.type|default:''}-->"
               data-code="<!--{$definition_data.code|default:''}-->"
               data-status="<!--{$definition_data.status|default:''}-->"
               class="flat-red x-checkbox-change-status"
        <!--{if isset($admin) && empty($admin)}-->disabled<!--{/if}-->

        <!--{if $definition_data.status == 1 || $definition_data.status == 3 }-->checked<!--{/if}-->>

    </label>
</td>