<div id="industrial_wasteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header bg-aqua">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">詳細</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <p class="col-xs-4">ステータス</p>
                    <p class="col-xs-8 x-iw-status"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">引取者(交付者)</p>
                    <p class="col-xs-8 x-iw-client-customer-name"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">産業廃棄物種別</p>
                    <p class="col-xs-8 x-iw-type-name"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">案件名称</p>
                    <p class="col-xs-8 x-iw-ticket-name"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">マニフェストNo.</p>
                    <p class="col-xs-8 x-iw-manifest-no"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">引取数量</p>
                    <p class="col-xs-8 x-iw-quantity"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">引取単価</p>
                    <p class="col-xs-8 x-iw-unit-price">円</p>
                </div>
                <div class="row">
                    <p class="col-xs-4">処分方法</p>
                    <p class="col-xs-8 x-iw-disposal-name"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">運送会社</p>
                    <p class="col-xs-8 x-iw-logistic-customer-name"></p>
                </div>

                <div class="row">
                    <p class="col-xs-4">運搬方法</p>
                    <p class="col-xs-8 x-iw-method-deliver"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">運賃</p>
                    <p class="col-xs-8 x-iw-freight-rate">円</p>
                </div>
                <div class="row">
                    <p class="col-xs-4">運賃原価</p>
                    <p class="col-xs-8 x-iw-freight-rate-original">円</p>
                </div>
                <div class="row">
                    <p class="col-xs-4">引取日</p>
                    <p class="col-xs-8 x-iw-take-off-at"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">搬入日</p>
                    <p class="col-xs-8 x-iw-installation-at"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">個口</p>
                    <p class="col-xs-8 x-iw-box-number">個又</p>
                </div>
                <div class="row">
                    <p class="col-xs-4">処理完了日</p>
                    <p class="col-xs-8 x-iw-completed-at"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">備考1</p>
                    <p class="col-xs-8 x-iw-note-1"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">備考2</p>
                    <p class="col-xs-8 x-iw-note-2"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">備考3</p>
                    <p class="col-xs-8 x-iw-note-3"></p>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="javascript:;" class="btn btn-info btn-block btn-iw-detail"><b><i class="fa fa-file-text margin-r-5"></i>詳細確認</b></a>
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:;" class="btn btn-warning btn-block btn-iw-edit"><b><i class="fa fa-edit margin-r-5"></i>編集</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>