<div id="salesModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header bg-aqua">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">詳細</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <p class="col-xs-4">販売先名</p>
                    <p class="col-xs-8 x-sale-client-customer-name"></p>
                </div>
                <div class="row" id="x-sale-ticket-name">
                    <p class="col-xs-4">案件情報</p>
                    <p class="col-xs-8 x-sale-ticket-name"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">納品先</p>
                    <p class="col-xs-8 x-sale-client-customer-name"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">配送料(お客様)</p>
                    <p class="col-xs-8 x-sale-shipping-fee"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">運送会社</p>
                    <p class="col-xs-8 x-sale-logistic-customer-name"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">配送料(運送会社)</p>
                    <p class="col-xs-8 x-sale-freight-rate-original"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">配送原価</p>
                    <p class="col-xs-8 x-sale-freight-rate"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">納品日</p>
                    <p class="col-xs-8 x-sale-delivery-date"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">備考1</p>
                    <p class="col-xs-8 x-sale-note-1"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">備考2</p>
                    <p class="col-xs-8 x-sale-note-2"></p>
                </div>
                <div class="row">
                    <p class="col-xs-4">備考3</p>
                    <p class="col-xs-8 x-sale-note-3"></p>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="javascript:;" class="btn btn-info btn-block btn-sale-detail"><b><i class="fa fa-file-text margin-r-5"></i>詳細確認</b></a>
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:;" class="btn btn-warning btn-block btn-sale-edit"><b><i class="fa fa-edit margin-r-5"></i>編集</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
