<div id="statusModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header bg-light-blue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><b>ステータス変更</b></h4>
            </div>
            <form role="form" action="/api/definition/change_status" method="POST">
                <div class="modal-body">
                    <div class="row">
                        <p class="col-md-12">引取決定のステータスを変更しますか？<br>変更する場合は、変更したいステータスをセットして、<br>「変更」ボタンをクリックしてください。</p>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control select2" name="definition_status">
                                    <option value="0">未完了</option>
                                    <option value="1">完了</option>
                                    <option value="2">不要</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="type" value="">
                        <input type="hidden" name="code" value="">
                        <input type="hidden" name="id_target" value="">
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6 col-xs-6 width-xs m-b-xs-10">
                            <a href="javascript:;" id="x-btn-definition-submit" class="btn btn-primary btn-block"><b><i class="fa fa-save margin-r-5"></i>ステータス変更</b></a>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6 col-xs-6 width-xs">
                            <a href="javascript:;" class="btn btn-default btn-block" data-dismiss="modal" aria-label="Close"><b><i class="fa fa-ban margin-r-5"></i>キャンセル</b></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
