<section class="box-dvsty row">

    <h4 class="col-md-4 font-xs"><i class="fa fa-list-ul margin-r-5"></i><!--{$pagination.offset|number_format|default:0}-->~<!--{$pagination.limit|number_format|default:0}-->件(全<!--{$pagination.total|number_format|default:0}-->件)</h4>

    <div class="col-md-8">
        <div class="row">
            <form id="index-search-form" action="" method="get" class="form-horizontal">
                <div class="col-sm-12 box-searchhead clearfix">
                    <!--{if !empty($view)}-->
                        <input type="hidden" name="view" value="<!--{$view}-->">
                    <!--{/if}-->

                    <!--{if $page != 'customer'}-->
                    <input type="hidden" name="order">
                    <input type="hidden" name="sort">
                    <!--{/if}-->
                </div>

                <div class="col-sm-6">
                    <div class="form-group">

                        <!--{if !empty($page) && $page == 'industrial_waste' && !empty($industrial_waste_types)}-->
                        <label class="col-lg-6 col-md-5 control-label">産廃種別：</label>
                        <div class="col-lg-6 col-md-7">
                            <select class="form-control select2 x-search-field" name="search_field">
                                <option value="">選択してください</option>
                                <!--{foreach from=$industrial_waste_types item=industrial_waste_type}-->
                                <option value="<!--{$industrial_waste_type.code}-->" <!--{if !empty($search_field) && $search_field == $industrial_waste_type.code}-->selected<!--{/if}-->><!--{$industrial_waste_type.value}--></option>
                                <!--{/foreach}-->
                            </select>
                        </div>
                        <!--{/if}-->
                        <!--{if !empty($page) && $page == 'purchase' && !empty($purchase_types)}-->
                        <label class="col-lg-6 col-md-5 control-label">仕入種別：</label>
                        <div class="col-lg-6 col-md-7">
                            <select class="form-control select2 x-search-field" name="search_field">
                                <option value="">選択してください</option>
                                <!--{foreach from=$purchase_types item=purchase_type}-->
                                <option value="<!--{$purchase_type.code}-->" <!--{if !empty($search_field) && $search_field == $purchase_type.code}-->selected<!--{/if}-->><!--{$purchase_type.value}--></option>
                                <!--{/foreach}-->
                            </select>
                        </div>
                        <!--{/if}-->
                        <!--{if !empty($page) && $page == 'sale' && !empty($product_types)}-->
                        <label class="col-lg-6 col-md-5 control-label">仕入種別：</label>
                        <div class="col-lg-6 col-md-7">
                            <select class="form-control select2 x-search-field" name="search_field">
                                <option value="">選択してください</option>
                                <!--{foreach from=$product_types item=product_type}-->
                                <option value="<!--{$product_type.id}-->" <!--{if !empty($search_field) && $search_field == $product_type.id}-->selected<!--{/if}-->><!--{$product_type.name}--></option>
                                <!--{/foreach}-->
                            </select>
                        </div>
                        <!--{/if}-->
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">検索：</label>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" name="search_value" class="form-control x-search-value" placeholder="" value="<!--{$search_value|escape|default:''}-->">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

