<div id="return_confirmModal" class="modal fade dialog-warning " tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><b>締め処理戻し確認</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p class="col-md-12">選択した顧客の締め処理を未処理状態にしますか？<br>未処理に戻す場合は、「完了」ボタンをクリックしてください。<br>戻さない場合は、「キャンセル」ボタンをクリックしてください。</p>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6 col-xs-6 width-xs m-b-xs-10">
                        <a href="javascript:;" class="btn btn-warning btn-block"><b><i class="fa fa-check-circle margin-r-5"></i>完了</b></a>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6 col-xs-6 width-xs">
                        <a href="javascript:;" data-dismiss="modal" aria-label="Close" class="btn btn-default btn-block"><b><i class="fa fa-ban margin-r-5"></i>キャンセル</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
